

<div >
  <nav class="navbar navbar-expand navbar-light  bg-primary " >
    <a href="#" class="navbar-brand"style="color:rgb(255, 255, 255)" >Trip Scheduling</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="trips" class="nav-link"style="color:rgb(255, 255, 255)">Trips </a>
      </li>
      <li class="nav-item">
        <a routerLink="addTrip" class="nav-link"style="color:rgb(255, 255, 255)">Create Trip</a>
      </li>
      <li class="nav-item">
        <a routerLink="stations" class="nav-link"style="color:rgb(255, 255, 255)">Stations</a>
      </li>
      <li class="nav-item">
        <a routerLink="addStation" class="nav-link"style="color:rgb(255, 255, 255)">Create Station</a>
      </li>
    </div>
    <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="signup" class="nav-link"style="color:rgb(255, 255, 255)">signup</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link" style="color:rgb(255, 255, 255)">signin</a>
      </li>

    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
